body{
    background: lightcyan;
    font: normal 14pt monospace;
    color: white;
    text-align: center;
}
section{
    background: white;
    color: black;
    border-radius: 0.6rem;
    padding: 2rem;
    width: 75%;
    margin: auto;
    box-shadow: 5px 5px 10px;
}
div{
    padding: 2rem;
}